@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  @apply min-w-83.25 bg-gray-900;
}

#root {
  @apply min-h-dvh;
}

input,
textarea {
  @apply w-full px-4 py-2 bg-gray-700 border border-gray-600 rounded-md
  text-gray-100 placeholder-gray-400 outline-none;
}

button {
  @apply px-3 py-2 rounded-md
   text-white font-medium text-nowrap 
   hover:opacity-80 active:scale-90
   flex justify-center items-center gap-1.5;
}

.main-container {
  @apply max-w-sm mx-auto p-4 overflow-hidden;
  @apply sm:max-w-3xl;
}

/*! navbar */

.nav {
  @apply bg-gray-800 border-gray-700 text-gray-100
  rounded-md px-2 py-4 mb-3;
  /* responsive */
  @apply sm:flex sm:justify-between sm:items-center sm:pr-5;
}

.logo {
  @apply font-black text-center text-4xl m-2;
}

.search-area {
  @apply bg-gray-800 border-gray-700 text-gray-100 relative;
}

.search-icon {
  @apply absolute top-1/2 left-2 -translate-y-1/2;
}

.search-filed {
  @apply pl-10;
}

/*! task area */

.task-area {
  @apply bg-gray-800 border-gray-700 text-gray-100
  rounded-md px-3 py-4 my-3;
}

.task-area-buttons {
  @apply flex gap-4 justify-end ml-4;
}

.tasks {
  @apply mt-4 flex flex-col gap-4;
}

.task {
  @apply p-3 rounded-md flex flex-col items-center gap-4;
  @apply sm:flex-row justify-between;
}

.task-header {
  @apply flex gap-1.5 items-center;
}

.task-heading {
  @apply font-normal text-xl cursor-default;
}

.tags {
  @apply flex justify-center;
  @apply sm:inline-block mx-3;
}

.tag {
  @apply inline-flex items-center px-2 py-0.5 rounded-full
   text-xs font-medium text-cyan-100 mx-0.5 my-2;
}

.completed {
  @apply line-through text-gray-500 italic font-extralight;
}

.no-task-massage {
  @apply text-center text-gray-600 my-6;
}

/*! modal  */
.modal {
  @apply transition-[scale] fixed top-0 left-0 bg-gray-800/50
   backdrop-blur-sm overflow-auto w-full h-dvh z-10;
}

/* !task modal */
.task-modal {
  @apply bg-gray-700 w-11/12 max-w-lg text-white mx-auto mt-35 p-6 
  rounded-2xl flex flex-col items-center gap-4;
}

.modal-buttons {
  @apply flex justify-between mt-3;
}
